@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat 11, 1fr;
  height: 100vh;
}

/*header*/
header {
  grid-column: 1/13;
  grid-row: 1/2;
  background-image: linear-gradient(90deg,#ED3237, #851E12);
}
header .logo {
  width: 100px;
  height: 100px;
  padding-top: 10px;
}

header .menu {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 1rem;
}
header .menu-item {
  font-size: 2rem;
}
header .menu-item-link {
  color: #fff;
  text-decoration: none;
  transition: all 0.4s ease;
}
header .menu-item-link:hover {
  text-decoration: none;
  color: #D52D5D;
  background-color: #fff;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.seccionuno {
  background-image: linear-gradient(90deg,#ED3237, #851E12);
  grid-column: 1/13;
  grid-row: 4/6;
}

.image-container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #FBCBE0, #DC7776);
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.secciondos {
  background-image: linear-gradient(90deg,#ED3237, #851E12);
  grid-column: 1/13;
  grid-row: 8/10;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.secciondos .menu-carta {
  text-align: center;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  padding-top: 100px;
  font-size: 100px;
}
.secciondos .parrafo-carta {
  text-align: center;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  padding-left: 100px;
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 50px;
  font-size: 16px;
}
.secciondos .photo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.secciondos .photo-container img {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.secciondos .photo-container img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.secciontres {
  background-image: linear-gradient(90deg,#ED3237, #851E12);
  position: relative;
  grid-column: 1/13;
  grid-row: 10/11; 
  background-size: cover; 
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0; 
}

.secciontres .card {
  position: relative;
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px #D52D5D;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  z-index: 1; 
}

.secciontres .card-image {
  width: 100%;
  height: auto;
}
.secciontres .titulo-card {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
.secciontres .link-roll, .secciontres .link-roll:visited, .secciontres .link-roll:active {
  text-decoration: none;
  color: #D52D5D;
}

.descarga-pdf {
  margin-left: 0;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 20px;
  text-align: center;
}
.descarga-pdf a {
  color: #EB1D27;
  background-color: #fff;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 5px;
  overflow: none;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
.descarga-pdf a:hover {
  color: #fff;
  background-color: #EB1D27;
}
.secciontres .parrafo-card {
  padding-left: 0;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}
.secciontres .card-footer {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
}
.secciontres .card-footer p {
  margin-bottom: 5px;
  font-size: 16px;
}
.secciontres .button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.secciontres .button:hover {
  background-color: white;
  color: black;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .secciontres html, .secciontres body {
    overflow-x: hidden !important;
  }
  .secciontres header {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: start;
    gap: 10px;
    padding-left: 50px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    font-size: 16px;
  }
  .secciontres header ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
    gap: 10px;
    padding-left: 70px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .secciontres .foto-container {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: none;
  }
  .secciontres .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .secciontres .card .card-container {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) and (min-width: 768px) and (max-width: 1024px) {
  .secciontres html, .secciontres body {
    overflow-x: hidden !important;
  }
  .secciontres header {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: start;
    gap: 10px;
    padding-left: 50px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    font-size: 16px;
  }
  .secciontres .foto-container {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) and (min-width: 768px) and (max-width: 1024px) and (min-width: 1246px) {
  .secciontres body {
    overflow-x: hidden !important;
  }
  .secciontres header {
    padding: 15px 30px;
  }
  .secciontres ul {
    gap: 20px;
  }
  .secciontres .footer .container-footer {
    gap: 40px;
  }
  .secciontres .footer .redes {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=stylesrollnuevo.css.map */
