

$color-principal: #000;
$color-secundario: #fff;
$color-terciario: #D52D5D;


$background-image-header: linear-gradient (90deg, #fff, #EB1D27);
$background-image-footer: linear-gradient(90deg, #FBCBE0, #DC7776);
$background-color-footer-card: #000;
$background-color: #D52D5D; 
$background-color-white: #fff;
$background-color-transparent: transparent;


$font-small: 1rem;
$font-medium: 1.6rem;
$font-large: 2rem;
$font-xl: 3rem; 

$box-shadow: 0 4px 8px #D52D5D;
$transition: background-color 0.3s, color 0.3s; 
$border:1px solid white;

